
exercicios_elfutec/Exercicio_5_Strings_Literais/obj/Debug/net5.0/Exercicio_5.assets.cache
exercicios_elfutec/Exercicio_5_Strings_Literais/obj/Debug/net5.0/Exercicio_5.assets.cache
exercicios_elfutec/Exercicio_5_Strings_Literais/obj/Debug/net5.0/Exercicio_5.assets.cache
exercicios_elfutec/Exercicio_5_Strings_Literais/obj/Debug/net5.0/Exercicio_5.csprojAssemblyReference.cache
exercicios_curso_em_video/Aula_2/obj/Debug/net5.0/Aula_2.csprojAssemblyReference.cache
exercicios_elfutec/Exercicio_6_Strings_Metodos_especiais/obj/Debug/net5.0/Exercicio_6.csprojAssemblyReference.cache
